# Backstage override configuration for your local development environment
#
app:
  listen:
    hots: 0.0.0.0

auth:
  environment: development
  providers:
    github:
      development:
        clientId: ${AUTH_GITHUB_CLIENT_ID}
        clientSecret: ${AUTH_GITHUB_CLIENT_SECRET}
        signIn:
          resolvers:
            - resolver: usernameMatchingUserEntityName            

catalog:
  rules:
    - allow:
        - User
        - Component
        - Resource
        - System
        - API
        - Location
  locations:
    - type: file
      target: /app/backstage/catalog/entities/users.yaml
